/*
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 * Defines reference genomes
 * Can be used by any config that customises the base
 * path using $params.genomes_base / --genomes_base
 */

params {

  // Digestion Hi-C
  digestion = 'hindiii' 
  chromosome_size = false
  restriction_fragments = false
  digestion = 'hindiii'

  min_restriction_fragment_size = false
  max_restriction_fragment_size = false
  min_insert_size = false
  max_insert_size = false
  
  // DNase
  dnase = false
  min_cis_dist = false

  // Mapping
  bwt2_opts_end2end = '--very-sensitive -L 30 --score-min L,-0.6,-0.2 --end-to-end --reorder'
  bwt2_opts_trimmed = '--very-sensitive -L 20 --score-min L,-0.6,-0.2 --end-to-end --reorder'
  keep_dups = false
  keep_multi = false
  min_mapq = 10

  // Maps
  bin_size = '1000000,500000'
  res_dist_decay = 250000
  res_compartments = 250000
  res_tads = 40000                    
  tads_caller = 'hicexplorer'

  ice_max_iter = 100
  ice_filer_low_count_perc = 0.02
  ice_filer_high_count_perc =  0
  ice_eps = 0.1

  split_fastq = false
  save_reference = false
  save_aligned_intermediates = false
  save_interaction_bam = false
}

params {
   digest {
      'hindiii'{
         restriction_site='A^AGCTT'
	 ligation_site='AAGCTAGCTT'
      }
      'mboi' {
         restriction_site='^GATC'
         ligation_site='GATCGATC'
      }
      'dpnii' {
         restriction_site='^GATC'
	 ligation_site='GATCGATC'
      }
      'arima' {
         restriction_site='GATC,GANT'
	 ligation_site='GATCGATC,GATCGANT,GANTGATC,GANTGANT'
      }
   }
}